<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nadaj uprawnienia admina</title>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>

<div class="logo-container">
    <img src="../static/img/logo.jpg" th:src="@{/img/logo.jpg}" alt="alternative text"
         class="logo-container" />
</div>
<form th:action="@{/promote/{username}(username=${user.userName})}" method="post" style="text-align: center">
    <label for="adminRole">Potwierdź, że chcesz nadać uprawnienia administratora:</label><br>

    <input type="checkbox" id="adminRole" name="adminRole" value="true">
    <label for="adminRole">Tak</label><br>

    <input type="hidden" name="noAdminRole" value="false">
    <input type="checkbox" id="noAdminRole" name="noAdminRole" value="true">
    <label for="noAdminRole">Nie</label><br>

    <input type="submit" value="Potwierdź">
</form>

</body>
</html>
